doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- START HEADER SECTION
    include include/header
    //- END HEADER
    //- ----------------------------------
    //- STRAT LANDING SECTION
    include include/landing
    //- END LANDING SECTION
    //- ----------------------------------
    //- START ARTICLES SECTION 
    include include/article
    //- END ARTICLES SECTION
    //- ----------------------------------
    //- START GALLERY
    +arrow-background()
    include include/gallery
    //- END GALLERY
    //- ----------------------------------
    //- START FEATURES
    include include/feature
    //- END FEATURES
    //- ----------------------------------
    //- START TESTIMONIALS
    include include/testimonials
    //- END TESTIMONIALS
    //- ----------------------------------
    //- START TEAM MEMBERS
    include include/team
    //- END TEAM MEMBERS
    //- ----------------------------------
    //- START SERVICES
    +arrow-background()
    section.services
      .container 
        h2.main-h2 SERVICES
        .box
          -var service = ["Security","Fixing Issues","Location","Coding","Security","Marketing"]
          -var service_icon = ["fas fa-user-shield","fas fa-tools","fas fa-map-marked-alt","fas fa-laptop-code","fas fa-palette","fas fa-bullhorn"]
          each icon, index in service
            .item
              .content 
                i(class= service_icon[index] + " fa-5x")
                h3 #{icon}
              .info 
                .num
                a(href="#"): span Details
    //- END SERVICES
section.our-skills
  .container 
    h2.main-h2 OUR SKILLS
    .box
        .image 
          img(src="image/skills.png", alt="skills")
        .content 
          - for (var q = 1 ; q <= 4; q++)
            div(class = "item" + q)
              h3 HTML
              .rang