doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- START HEADER SECTION
    include include/header
    //- END HEADER
    //- ----------------------------------
    //- STRAT LANDING SECTION
    include include/landing
    //- END LANDING SECTION
    //- ----------------------------------
    //- START ARTICLES SECTION 
    include include/article
    //- END ARTICLES SECTION
    //- ----------------------------------
    //- START GALLERY
    +arrow-background()
    include include/gallery
    //- END GALLERY
    //- ----------------------------------
    //- START FEATURES
    include include/feature
    //- END FEATURES
    //- ----------------------------------
    //- START TESTIMONIALS
    include include/testimonials
    //- END TESTIMONIALS
    //- ----------------------------------
    //- START TEAM MEMBERS
    include include/team
    //- END TEAM MEMBERS
    //- ----------------------------------
    //- START SERVICES
    +arrow-background()
    include include/services
    //- END SERVICES
    //- START OUR SKILLS
    include include/ourskills
    //- END OUR SKILLS
    //- ----------------------------------
    //- START HOW IT WORKS
    include include/howworks
    //- END HOW IT WORKS
    //- ----------------------------------
    //- START LATEST EVENTS
    section.latest-events
      img(src="image/dots.png" alt="dots")
      img(src="image/dots.png" alt="dots")
      .container 
        h2.main-h2 LATEST EVENTS
        .box
          .image 
            img(src="image/events.png" alt="events")
          .content
            .time
              .data
                p 34
                span Days
              .data
                p 34
                span Days
              .data
                p 34
                span Days
              .data
                p 34
                span Days
            h3 Tech Masters Event 2021
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi nulla in harum, veritatis porro
        form
          input(type="email" name="subscribe" placeholder="Enter Your Email")
          input(type="submit" value="Subscribe")
    //- END LATEST EVENTS
    //- ----------------------------------