doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- Start header section
    include include/headersection
    //- End header
    //- ----------------------------------
    //- strat landing section
    include include/landingsection
    //- End landing section
    //- ----------------------------------
    //- Start articles section 
    include include/articlesection
    //- End articles section
    //- ----------------------------------
    //- Start services

    //- End services
    //- ----------------------------------
    //- Start portfolio  -->

    //- End portfolio -->
    //- ----------------------------------
    //- Start about  -->

    //- End about -->
    //- ----------------------------------
    //- Start contact -->

    //- End contact -->
    //- ----------------------------------
    //- Start footer -->

    //- End footer -->