doctype html
html(lang="en")
  head
    include include/head
  body 
    //- Start header section
    header 
      .container 
        .logo
          a(#) Ahmed El-Mondy
        -var listheader = ["articles", "gallery", "features", "other links"]
        ul
          each item in listheader
            if item != "other links"
              li: a(#) #{item}
            else
              li
                a(#) #{item}
                .mega-menu
                  img(src="image/megamenu.png" alt="megamenu")
                  -var magamenu1 = [ "Testimonials", "Team Members", "Services", "Our Skills", "How It Works"]
                  ul
                    each item in magamenu1
                      li: a(#) #{item}
                  -var magamenu2 = ["Events, Pricing Plans", "Top Videos", "Stats", "Request A Discount"]
                  ul
                    each item in magamenu2
                      li: a(#) #{item}
        //- End header
        //- End landing section
        //- -----------------------------------------------
        //- Start feature section 

        //- End feature section
        //- ---------------------------------------------
        //- Start services

        //- End services
        //- ----------------------------------------------
        //- Start portfolio  -->

        //- End portfolio -->
        //- ----------------------------------------------
        //- Start about  -->

        //- End about -->
        //- ----------------------------------------------
        //- Start contact -->

        //- End contact -->
        //- ----------------------------------------------
        //- Start footer -->

        //- End footer -->