doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- Start header section
    include include/header
    //- End header
    //- ----------------------------------
    //- strat landing section
    include include/landing
    //- End landing section
    //- ----------------------------------
    //- Start articles section 
    include include/article
    //- End articles section
    //- ----------------------------------
    //- Start gallery
    +arrow-background()
    include include/gallery
    //- End gallery
    //- ----------------------------------
    //- Start portfolio  -->

    //- End portfolio -->
    //- ----------------------------------
    //- Start about  -->

    //- End about -->
    //- ----------------------------------
    //- Start contact -->

    //- End contact -->
    //- ----------------------------------
    //- Start footer -->

    //- End footer -->