doctype html
html(lang="en")
  head
    include include/head
  body 
    //- Start header section
    header 
      .container 
        p Ahmed El-Mondy
        -var listheader = ["Articles", "Gallery", "Features", "Other Links"]
        each item in listheader
          li=item
        .maga-menu
          img(src="image/megamenu.png", alt="megamenu")
          -var magamenu = [ "Testimonials", "Team Members", "Services", "Our Skills", "How It Works", "Events, Pricing Plans", "Top Videos", "Stats", "Request A Discount"]
    //- End header
    //- End landing section
    //- -----------------------------------------------
    //- Start feature section 

    //- End feature section
    //- ---------------------------------------------
    //- Start services

    //- End services
    //- ----------------------------------------------
    //- Start portfolio  -->

    //- End portfolio -->
    //- ----------------------------------------------
    //- Start about  -->

    //- End about -->
    //- ----------------------------------------------
    //- Start contact -->

    //- End contact -->
    //- ----------------------------------------------
    //- Start footer -->

    //- End footer -->