doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- START HEADER SECTION
    include include/header
    //- END HEADER
    //- ----------------------------------
    //- STRAT LANDING SECTION
    include include/landing
    //- END LANDING SECTION
    //- ----------------------------------
    //- START ARTICLES SECTION 
    include include/article
    //- END ARTICLES SECTION
    //- ----------------------------------
    //- START GALLERY
    +arrow-background()
    include include/gallery
    //- END GALLERY
    //- ----------------------------------
    //- START FEATURES
    include include/feature
    //- END FEATURES
    //- ----------------------------------
    //- START TESTIMONIALS
    include include/testimonials
    //- END TESTIMONIALS
    //- ----------------------------------
    //- START TEAM MEMBERS
    include include/team
    //- END TEAM MEMBERS
    //- ----------------------------------
    //- START SERVICES
    +arrow-background()
    include include/services
    //- END SERVICES
    //- START OUR SKILLS
    include include/ourskills
    //- END OUR SKILLS
    //- ----------------------------------
    //- START HOW IT WORKS
    include include/howworks
    //- END HOW IT WORKS
    //- ----------------------------------
    //- START LATEST EVENTS
    include include/latestevents
    //- END LATEST EVENTS
    //- ----------------------------------
    //- START PRICING PLANS
    include include/pricingplans
    //- END PRICING PLANS
    //- ----------------------------------
    //- START TOP VIDEOS
    include include/topvideos
    //- END TOP VIDEOS
    //- ----------------------------------
    //- START OUR AWESOME STATS
    include include/ourstats
    //- END OUR AWESOME STATS
    //- ----------------------------------
    //- START A DISCOUNT
    include include/discount
    //- END A DISCOUNT
    //- ----------------------------------
    //- START TOP VIDEOS

    //- END TOP VIDEOS
    //- ----------------------------------