doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- START HEADER SECTION
    include include/header
    //- END HEADER
    //- ----------------------------------
    //- STRAT LANDING SECTION
    include include/landing
    //- END LANDING SECTION
    //- ----------------------------------
    //- START ARTICLES SECTION 
    include include/article
    //- END ARTICLES SECTION
    //- ----------------------------------
    //- START GALLERY
    +arrow-background()
    include include/gallery
    //- END GALLERY
    //- ----------------------------------
    //- START FEATURES
    include include/feature
    //- END FEATURES
    //- ----------------------------------
    //- START ABOUT  -->

    //- END ABOUT -->
    //- ----------------------------------
    //- START CONTACT -->

    //- END CONTACT -->
    //- ----------------------------------
    //- START FOOTER -->

    //- END FOOTER -->