doctype html
include include/mixin

html(lang="en")
  head
    include include/head
  body 
    //- START HEADER SECTION
    include include/header
    //- END HEADER
    //- ----------------------------------
    //- STRAT LANDING SECTION
    include include/landing
    //- END LANDING SECTION
    //- ----------------------------------
    //- START ARTICLES SECTION 
    include include/article
    //- END ARTICLES SECTION
    //- ----------------------------------
    //- START GALLERY
    +arrow-background()
    include include/gallery
    //- END GALLERY
    //- ----------------------------------
    //- START FEATURES
    section.features 
      .container 
        h2.main-h2 FEATURES
        .box
          - for (var y = 1; y <= 3; y++)
            div(class= "item" + y) 
              .image
                img(src="image/features-0" + y + ".jpg" alt="features-0" + y)
              .content 
                h3 Quality
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
              a(href="#")
                bottom More

    //- END FEATURES
    //- ----------------------------------
    //- START ABOUT  -->

    //- END ABOUT -->
    //- ----------------------------------
    //- START CONTACT -->

    //- END CONTACT -->
    //- ----------------------------------
    //- START FOOTER -->

    //- END FOOTER -->