section.articles
  .container 
    h2.main-h2 ARTICLES
    .box 
      .item
        +item-article("image/cat-01.jpg","cat-01","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-02.jpg","cat-02","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-03.jpg","cat-03","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-04.jpg","cat-04","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-05.jpg","cat-05","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-06.jpg","cat-06","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-07.jpg","cat-07","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")
      .item
        +item-article("image/cat-08.jpg","cat-08","Test Title","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit")