section.discount
  .box
    img(src="image/discount-background1.jpg", alt="discount-background1")
    img(src="image/discount-background2.jpg", alt="discount-background2")
    .data
      h2 We Have A Discount
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi asperiores consectetur, recusandae ratione provident necessitatibus, cumque delectus commodi fuga praesentium beatae. Totam vel similique laborum dicta aperiam odit doloribus corporis.
      .image
        img(src="image/discount.png" alt="discount")
  form
    .content
      h3 Request A Discount
      input(type="text" name="" placeholder="Your Name")
      input(type="email" name="" placeholder="Your Email")
      input(type="tel" name="" placeholder="Your Phone")
      textarea(name="" cols="30" rows="10" placeholder="Tell Us About Your Needs")
      input(type="submit" value="Send") 