section.landing
  .container
    .box
      .text
        h1 Welcome, To Elzero World
        p Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events
      .image
        img(src="image/landing-image.png" alt="landing-image")
    .icon
      a(href="#articles")
        i(class="fas fa-angle-double-down fa-2x")