section.latest-events(id="events")
  img(src="image/dots.png" alt="dots")
  img(src="image/dots.png" alt="dots")
  .container 
    h2.main-h2 LATEST EVENTS
    .box
      .image 
        img(src="image/events.png" alt="events")
      .content
        .time
          .data
            p 34
            span Days
          .data
            p 12
            span Hours
          .data
            p 52
            span Minutes
          .data
            p 24
            span Seconds
        h3 Tech Masters Event 2021
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi nulla in harum, veritatis porro
    form
      input(type="email" name="subscribe" placeholder="Enter Your Email")
      input(type="submit" value="Subscribe")