section.testimonials(id="testimonials") 
  .container 
    h2.main-h2 TESTIMONIALS
    .box
      +testimonials-item(1,"Mohamed Farag","Full Stack Developer",4,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus")
      +testimonials-item(2,"Mohamed Ibrahim","Full Stack Developer",4,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus")
      +testimonials-item(3,"Shady Nabil","Full Stack Developer",4,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus")
      +testimonials-item(4,"Amr Hendawy","Full Stack Developer",5,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus")
      +testimonials-item(5,"Sherief Ashraf","Full Stack Developer",3,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus")
      +testimonials-item(6,"Osama Mohamed","Full Stack Developer",3,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus")